{% extends "mmitvBackBundle::layouttv.html.twig" %}
{% block body %}
{{ parent() }}
                          <!-- Ecran vidéo -->
		{{ render(controller('mmitvBackBundle:TV:videos')) }}


                          <!-- Bug -->
        {{ render(controller('mmitvBackBundle:TV:bug')) }}

                        <!-- Annonce -->

      {{ render(controller('mmitvBackBundle:TV:info')) }}


                          <!-- Emploi du temps -->
        {{ render(controller('mmitvBackBundle:TV:edt')) }}

</div>




{% endblock %}