<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a href="{{ path('mmitv_ifaceTV') }}" target="_blank"><i class="icon-play"></i><span class="hidden-tablet"> Accès à l'interface TV</span></a></li>
            <li><a href="{{ path('mmitv_dashboard') }}"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Tableau de bord</span></a></li>
            <li><a href="{{ path('mmitv_addvideo') }}"><i class="icon-edit"></i><span class="hidden-tablet">Gestion des vidéos</span></a></li>
            {% if is_granted('ROLE_REDACTEUR') %}
                <li><a href="{{ path('mmitv_info') }}"><i class="icon-edit"></i><span class="hidden-tablet"> Gestion des infos</span></a></li>
                <li><a href="{{ path('mmitv_createplaylist') }}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Créer une playlist</span></a></li>
                <li><a href="{{ path('mmitv_editplaylist') }}"><i class="icon-tasks"></i><span class="hidden-tablet"> Modifier une playlist</span></a></li>
                <li><a href="#"><i class="icon-eye-open"></i><span class="hidden-tablet"> Créer un programme</span></a></li>
                <li><a href="#"><i class="icon-dashboard"></i><span class="hidden-tablet"> Modifier un programme</span></a></li>
                <li><a href="{{ path('mmitv_grille') }}"><i class="icon-calendar"></i><span class="hidden-tablet"> Voir la grille</span></a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('mmitv_gestion_utilisateur') }}"><i class="icon-list-alt"></i><span class="hidden-tablet">Gestion des utilisateurs</span></a></li>
            {% endif %}
        </ul>
    </div>
</div>