{% extends "mmitvBackBundle::layout.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}


{% block body %}
<h1>Bienvenue sur le dashboard MMI TV !</h1>

    {{ render(controller("FOSUserBundle:Security:login")) }}

    <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a><br/>
    <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a><br/>

    <p>
        <a href="{{ path('mmitv_ifaceTV') }}">Accédez à l'interface TV</a>
    </p>

{% endblock %}