{{ form_start(form, {'attr' : { 'class':'form-horizontal' }}) }}

<fieldset>
    <div class="control-group">
        {{ form_label(form.videoType, 'Catégorie', {'label_attr' : {'class' : 'control-label'}}) }}

        <div class="controls">
            {{ form_widget(form.videoType, {'attr' : {'class' : 'span6 typeahead', 'id': 'typeahead', 'data-provide': 'typeahead', 'data-items': '4', 'data-source': '["Musiques","Making-off","Conférences","Tutoriel Web"]'}}) }}
            <p class="help-block">Commencer à écrire pour choisir la catégorie</p>
        </div>
    </div>
    <div class="control-group">
        {{ form_label(form.videoNom, 'Nom de la vidéo', {'label_attr' : {'class': 'control-label'}} ) }}
        <div class="controls">
            {{ form_widget(form.videoNom, {'attr': {'class': 'span6'}}) }}
        </div>
    </div>
    <div class="control-group">
        {{ form_label(form.videoHref, 'Lien de la vidéo', {'label_attr' : {'class': 'control-label'}} ) }}
        <div class="controls">
            {{ form_widget(form.videoHref, {'attr': {'class': 'span6'}}) }}
            <p class="help-block">Ajouter la cible du lien de la vidéo</p>
        </div>
    </div>
    <div class="control-group">
        {{ form_label(form.videoPlateforme, 'Plateforme', {'label_attr' : {'class' : 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form.videoPlateforme, {'attr': {'class': 'span6'}}) }}
        </div>

    </div>
    <div class="control-group">
        {{ form_label(form.videoAjout, 'Date d\'ajout', {'label_attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_widget(form.videoAjout, {'attr': {'class': 'input-xlarge', 'id':'date01'}}) }}

        </div>
    </div>
    <div class="form-actions">
        {{ form_widget(form.save, {'attr': {'class':'btn btn-primary'}}) }}
        <button type="reset" class="btn">Annuler</button>
    </div>
</fieldset>
{{ form_rest(form) }}
{{ form_end(form) }}