{% for video in video %}
    <tr>
        <td>{{ video.videoNom }}</td>
        <td class="center">{{ video.videoAjout|date('d/m/Y') }}</td>
        <td class="center">{{ video.videoType }}</td>
        <td class="center">
            {{ video.videoPlateforme }}
        </td>
        <td class="center">
            <a class="btn btn-success" target="_blank" href="http://{{ video.videoHref }}">
                <i class="halflings-icon white zoom-in"></i>
            </a>
            <a class="btn btn-info" href="{{ path('mmitv_updatevideo', {'id': video.id}) }}">
                <i class="halflings-icon white edit"></i>
            </a>
            <a class="btn btn-danger" href="{{ path('mmitv_deletevideo', {'id': video.id}) }}">
                <i class="halflings-icon white trash"></i>
            </a>
        </td>
    </tr>
{% endfor %}